node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

node_modules
assets/camera.png
assets/contacts/
assets/drawer-cover.png
assets/launchscreen-bg.png
assets/logo-kitchen-sink.png
assets/logo.png
assets/nblogo.png
assets/splashscreen.png
assets/swiper-1.png
assets/swiper-2.png
assets/swiper-3.png
assets/swiper-4.png
assets/web-cover1.jpg
src1